<%- include('../includes/head.ejs') %>
</head>

<body>

    <main>
        <div class="form-wrapper">
            <form class="login-form" action="/auth/forgot-password" method="POST">
                <h1 class="form-title">Забыли пароль?</h1>
                <div class="form-control">
                    <label class="label" for="note-text">Введите ваш имейл и мы отправим на него инструкции по восстановлению пароля</label>
                </div>
                <div class="form-control">
                    <img class="icon" src="/img/mail.svg" alt="Login">
                    <input value="<% if (email) { %><%= email %><% } %>" class="input" type="email" name="email"
                        id="email" placeholder="E-Mail">
                </div>
                <% if (errorMessage) { %>
                <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
                <button class="btn login-button" type="submit">Отправить запрос</button>
                <div class="sign-up-link-container">
                    <span class="sign-up-link-label">нет аккаунта?</span>
                    <a class="sign-up-link" href="/auth/signup">регистрация</a>
                </div>
            </form>
        </div>

    </main>
    <%- include('../includes/end.ejs') %>