<%- include('../includes/head.ejs') %>
</head>

<body>

    <main>
        <div class="form-wrapper">
            <form class="login-form" action="/auth/forgot-password" method="POST">
                <h1 class="title">Forgot password?</h1>
                <div class="form-control">
                    <label class="label" for="note-text">Enter your email and we'll send you an email with change
                        password
                        instructions</label>
                </div>
                <div class="form-control">
                    <img class="icon" src="/img/mail.svg" alt="Login">
                    <input value="<% if (email) { %><%= email %><% } %>" class="input" type="email" name="email"
                        id="email" placeholder="E-Mail">
                </div>
                <% if (errorMessage) { %>
                <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
                <button class="btn login-button" type="submit">Send change request</button>
                <div class="sign-up-link-container">
                    <span class="sign-up-link-label">don't have an account?</span>
                    <a class="sign-up-link" href="/auth/signup">Sign Up</a>
                </div>
            </form>
        </div>
    <div class="mobile-offset"></div>
</main>
    <%- include('../includes/end.ejs') %>