<%- include('includes/head.ejs') %>
</head>

<body>
    <div class="error-page">
        <h1 class="error-title">404</h1>
        <h3 class="error-descr">Page not found</h3>
        <a href="/" class="btn btn-primary">Go to main page</a>
    </div>

    <%- include('includes/end.ejs') %>